[Desktop Entry]
Name=XTrackCAD-Beta
Comment=Design model railroad layouts
Exec=xtrkcad-beta
Icon=xtrkcad-beta
Terminal=false
Type=Application
Categories=Graphics

